h1 {
    font: 60px waltograph;
    color: #ED120E;
    margin-left: 104px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 256px;
    height: 46px;
}

a {
    text-decoration: none;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-links {
    margin-right: 104px;
}

.main-nav-link {
    font: 32px waltograph;
    color: #143361;
    padding: 24px;
    display: inline-block;

}

.hero-image {
    display: block;
    width: 1280px;
    height: 349px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font: 84px waltograph;
    color: #143361;
    margin-top: 100px;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    font: 60px waltograph;
    color: black;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
}

h4 {
    font: 72px waltograph;
    color: #143361;
    text-align: center;
}

.park-images {
    width: 574px;
    height: 330px;
}

.front-page {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 65px;
    margin-bottom: 0px;
}

.home-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    background-color: #c0d4f2;
    padding-bottom: 80px;
}

.content-images {
    width: 430px;
    height: 260px;
    margin-left: 48px;
    margin-right: 48px;
}

p {
    font: 36px Roboto;
    color: black;
    margin-top: 0px;
    margin-left: 24px;
    margin-right: 24px;
}

.content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 95px;
    justify-content: center;
    margin-left: 24px;
    margin-right: 24px;
}

.titles {
    margin-bottom: 84px;
}

.link {
    font: 32px Roboto;
    display: block;
    text-decoration: underline;
    color: #143361;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
